* {
	margin:0;
	box-sizing:border-box;
}

body{
	margin-top: 30px;
	width: 40vw;
	margin-left: auto;
	margin-right: auto;
}

header{
	height: 25vh;
	color: aliceblue;
	box-shadow: 1px 1px 20px rgb(0, 0, 0);
	border-radius: 10px;
}

.titulo{
	height: 100%;
	background: rgb(62, 62, 226);
	display: grid;
	grid-template-columns: 1fr 2.2fr;
	border-radius: 10px;
	text-shadow: 1px 1px 20px black;
}

.titulo img{
	width: 70%;
	height: 70%;
	place-self: center;
	box-shadow: 1px 1px 20px rgb(0, 0, 0);
}

.titulo h1{
	place-self: center;
}

main{
	margin-top: 10px;
}

main h2{
	text-shadow: 1px 1px 10px black;
	margin-bottom: 10px;
}

main ul{
	margin-top: 20px;
	margin-bottom: 20px;
}

footer{
	margin-top: 20px;
	background: rgb(62, 62, 226);
	border-radius: 10px;
	color: rgb(255, 255, 254);
	text-align: center;
	height: 14vh;
	display: grid;
	box-shadow: 1px 1px 20px rgb(0, 0, 0);
}

footer .p2{
	color: yellow;
}

footer div{
	margin-top: 20px;
}